body {
  background-color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  padding: 24px 48px;
  margin: 0;
  box-sizing: border-box;
}

/* Search Boxes */
.search-container {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.nav-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-btn {
  flex-grow: 1;
  text-align: center;
  background-color: #4d4d4d;
}
.nav-search #tag-nav-btn {
  border-radius: 4px 0 0 0;
}
.nav-search #free-search-nav-btn {
  border-radius: 0 4px 0 0;
}
.nav-btn.active {
  background-color: #ebebeb;
}

input[type=text] {
  border: none;
  border-radius: 4px;
  padding: 5px;
}

.button {
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
  border: none;
}


.search-bar-container {
  padding: 48px 10px 24px;
  display: flex;
  flex-direction: column;
}
.search-bar-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-bar {
  width: 100%;
  margin-right: 20px;
}
.refresh-search {
  align-self: center;
  margin-top: 24px;
}

/* Result List */
#result-list {
  list-style: none;
  margin-top: 24px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  margin: 10px;
  width: calc(50% - 40px);
  word-break: break-word;
}
.list-item h3 {
  margin-top: 0;
  margin-bottom: 0px;
}
.list-item a {
  text-decoration: none;
  color: #000;
}
.list-item .teacher-name {
  font-size: 12px;
  color: #4d4d4d;
}
.list-item .rating {
  color: #b4690e;
  font-weight: bold;
  font-size: 14px;
  margin-top: 6px;
}


/* Mobile */
@media screen and (max-width: 600px) {
  .list-item {
    width: 100%;
  }
}